.app {
    padding: 30px;
    background-color: floralwhite;
    height: 100vh;
}
  
.todo {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

.todo-list {
    padding: 0;
}

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
